#headed {
    //  ------------------------------------------------页头区域 
    padding: 22px 0;
    .public {
        p {
            width: 880px;
            line-height: 16px;
            background: #fef2f2;
            border: 1px solid #ffb4a8;
            text-align: center;
            padding: 5px 0;
            float: right;
            margin: 20px 20px 0 0;
            font-size: 12px;
        }
        a {
            padding-left: 400px;
            display: block;
            float: right;
            margin-bottom: 10px;
            font-size: 12px;
        }
        i {
            color: #f40;
        }
    }
}

.logo {
    display: inline-block;
    width: 140px;
    height: 75px;
    text-align: center;
    img {
        width: 100%;
        height: 100%;
    }
}

//---------------------------------------------------bodyer区域
#bodyed {
    height: 600px;
    width: 100%;
    cursor: pointer;
    background: url("https://gtms01.alicdn.com/tps/i1/TB1GTCYLXXXXXcHXpXXcoeQ2VXX-2500-600.jpg") no-repeat -400px 0px;
    position: relative;
    a {
        font-size: 12px;
        margin-right: 10px;
    }
    h3 {
        color: black;
    }
    p i {
        color: #e52425;
        &:nth-of-type(2) {
            color: #1ba9ee;
        }
    }
    span {
        margin-top: 20px;
        float: right;
    }
    input {
        width: 300px;
        height: 38px;
        margin-top: 30px;
        text-indent: 45px;
    }
   
}

.login {
    height: 350px;
    width: 350px;
    background: #fff;
    position: absolute;
    right: 300px;
    top: 100px;
    padding: 25px;
    box-sizing: border-box;
    color: #6c6c6c;
    cursor: pointer;
}

#form {
    cursor: pointer;
    position: relative;
     a {
        display:block;
        width: 304px;
        height: 42px;
        background: #f40;
        color: #fff;
        font-size: 18px;
        border-radius: 5px;
        margin: 20px 0;
        text-align:center;
        line-height:42px;
    }
    i {
        position: absolute;
        width: 40px;
        height: 42px;
        background: #ddd;
        line-height: 42px;
        text-align: center;
        left: 0px;
        top: 31px;
        color: #fff;
        &:nth-of-type(2) {
            top: 105px;
        }
    }
}

//-------------------------------------------------footer区域
#footed {
    margin-top: 60px;
    margin-bottom: 20px;
    .public {
        a {
            font-size: 12px;
        }
        p {
            padding-left: 5px;
            line-height: 30px;
            
        }
        p:nth-last-of-type(1){
            font-size:12px;
            color:#ddd;
        }
        p:nth-of-type(1) {
            border:1px solid #ddd ;
            border-left: none;
            border-right: none;
            line-height:40px;
            a {
                border-right: 1px solid #ddd;
                padding-right: 10px;
            }
            a:nth-last-of-type(1) {
                border: none;
            }
        }
        span {
            color: #ddd;
            line-height: 100%;
            border-right: 1px solid #ddd;
            padding-right: 10px;
        }
        em {
            display: block;
            width: 36px;
            height: 36px;
            background: url(../img/bg.gif) no-repeat;
        }
    }
}